@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Jura", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 14px;
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: 14px;
  }
}

div {
  transition: height 0.3s ease, width 0.3s ease, min-height 0.3s ease,
    min-width 0.3s ease, max-height 0.3s ease, max-width 0.3s ease,
    flex-basis 0.3s ease;
}
